<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style_for_dashboard.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Dashboard</title>
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="flash flash-{{ category }}">
      {{ message }}
      <span
        class="flash-close"
        onclick="this.parentElement.style.display='none';"
        >×</span
      >
    </div>
    {% endfor %} {% endif %} {% endwith %}
    <div class="todo-container">
      <div class="dash-header">
        <header>To-Do List</header>
      </div>
      <form method="post" action="/dashboard/create-todo">
        <div class="input-container">
          <input
            type="text"
            name="task"
            id="todoInput"
            placeholder="Add your text"
          />
          <button id="addBtn" type="submit">Add</button>
        </div>
      </form>
      <ul id="todoList">
        {% for todo in session['todos'] %}
        <li>
          {% if todo[2] == 1 %}
          <div class="checkingbox">
            <i class="fa-solid fa-square-check"></i>
          </div>
          {% else %}
          <div class="checkingbox">
            <i class="fa-regular fa-square-check"></i>
          </div>
          {% endif %}
          <span>{{todo[1]}}</span>
          <button class="editBtn"><i class="fa-solid fa-file-pen"></i></button>
          
          <form action="{{ url_for('deleteToDo', id=todo[0]) }}" method="post">
            <button type="submit" class="deleteBtn"><i class="fa-solid fa-trash"></i></button>
        </form>
        </li>
        {% endfor %}
      </ul>
      <div class="sign-up-link">
        <p><a href="{{url_for('signout')}}">Sign Out</a></p>
      </div>
    </div>
    <script>
      const flashElement = document.querySelector('.flash');
    
      setTimeout(() => {
        flashElement.style.display = 'none';
      }, 2000); 
    </script>
  </body>
</html>
