<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style_for_login.css') }}"
    />
    <title>Login</title>
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="flash flash-{{ category }}">
      {{ message }}
      <span
        class="flash-close"
        onclick="this.parentElement.style.display='none';"
        >×</span
      >
    </div>
    {% endfor %} {% endif %} {% endwith %}
    <div class="login-box">
      <div class="login-header">
        <header>Login</header>
      </div>
      <form method="post" action="/login">
        <div class="input-box">
          <input
            type="email"
            class="input-field"
            name="email"
            placeholder="Email"
            autocomplete="off"
            required
          />
        </div>
        <div class="input-box">
          <input
            type="password"
            class="input-field"
            name="password"
            placeholder="Password"
            autocomplete="off"
            required
          />
        </div>
        <div class="input-submit">
          <button class="submit-btn" id="submit" type="submit"></button>
          <label for="submit">Sign In</label>
        </div>
      </form>
      <div class="sign-up-link">
        <p>Don't have account? <a href="{{url_for('register')}}">Sign Up</a></p>
      </div>
    </div>
    <script>
      const flashElement = document.querySelector('.flash');
    
      setTimeout(() => {
        flashElement.style.display = 'none';
      }, 2000);
    </script>
  </body>
</html>
